<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>1 is mij onbekend/ kan ik niet</li>
        <li>2 ik weet ervan, maar heb het nooit gebruikt</li>
        <li>3 ik weet het en kan het toepassen</li>
        <li>4 ik kan het toepassen in andere situaties / omstandigheden</li>
        <li>5 ik kan een ander uitleggen wat het is en hoe je het kan toepassen</li>
    </ul>
    {% block title_html %}
    {% endblock %}
    {% block content %}
    {% if questions|length > 0 %}
    <form action="" method="post">
        {% csrf_token %}
        {% for question in questions %}
        {{ question.question_text }}<br>
        <input type="radio" name="{{ question.id }}" value="1"> 1<br>
        <input type="radio" name="{{ question.id }}" value="2"> 2<br>
        <input type="radio" name="{{ question.id }}" value="3"> 3<br>
        <input type="radio" name="{{ question.id }}" value="4"> 4<br>
        <input type="radio" name="{{ question.id }}" value="5"> 5<br>
        {% endfor %}
        <input type="submit" value="Send" />
    </form>
    {% else %}
    <span>No questions</span>
    {% endif %}
    {% endblock %}
</body>
</html>
